<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Time Entry</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="container">
    <h2>Edit Time Entry</h2>

    <form th:action="@{'/time_entries/edit/' + ${entry.timeEntryId}}"
          th:object="${entry}"
          method="post">

        <div class="formular">
            <label for="date">Date:</label>
            <input type="date" id="date" th:field="*{date}" required/>

            <label for="start">Start Time:</label>
            <input type="time" id="start" th:field="*{startTime}" required/>

            <label for="end">End Time:</label>
            <input type="time" id="end" th:field="*{endTime}"/>

            <label for="activity">Activity:</label>
            <input type="text" id="activity" th:field="*{activity}" required/>

            <button class="btn" type="submit">Save</button>
        </div>

    </form>

    <a th:href="@{/time_entries/today}">Back to Today</a>
</div>
</body>
</html>
